*{
    font-family: 'Roboto';
    font-size: 18px;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    background-color: #202124;
    flex-direction: row;
    height: 7vh;
    justify-content: flex-end;
    padding-right: 2rem;
}

nav{
    display: flex;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li{
    align-items: center;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    padding: 0.5rem;
}

.header-button {
    border: none;
    border-radius: 50%;
    background-color: transparent;
    margin: .3rem;
    padding: .3rem;
    width: 50px;
    height: 50px;
}

.header-button a {
    align-items: center;
    display: flex;
    justify-content: center;
}

.header-button:hover {
    background: #2F3034;
    border-radius: 50px;
}

li:hover{
    text-decoration: underline;
}

/*Buscador*/

main{
    align-items: center;
    background-color: #202124;
    display: flex;
    height: 85vh;
    position: relative;
    justify-content: center;
}

main .contenedor{
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    width: 300px;
    padding-left: 100px;
}

form {
    display: flex;
    justify-content: center;
    padding: 15px;
}

input {
    border: none;
    background: transparent;
    border-radius: 5px;
    color: #fff;
    font-weight: 300px;
    font-weight: 100;
    outline: none;
    padding: 0 90px 0 10px;
    width: 18rem;
}

form>div {
    display: flex;
    padding: 6px;
    border-radius: 30px;
    border: 1px solid #5F6369;
    background: transparent;
}

form > div:hover{
    background-color: #303134;
    border: none;
    box-shadow: -1px 1px 6px #17181a;
}

span{
    color: #5F6369;
    font-size: 5px;
}

article{
    border: none;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.btn-buscador{
    display: flex;
    
}

.main-button{
    margin: 0 5px;
    padding: 12px;
    background-color: #303134;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    border: none;
    border-radius: 4px;
}

.main-button:hover{
    border: 1px solid #5F6369;
    box-shadow: 0 1px 1px #5F6369;
}

/*footer Links*/

footer{
    background-color: #171717;
    height: 8vh;
}

p{
    font-family: 'Roboto';
    font-size: 1rem;
    color: #9AA099;
    padding: 10px 25px;
}

.links{
    display: flex;
    justify-content:space-between;
}

.links-a, .links-b{
    display: flex;
    list-style: none;
}

.li-footer{
    color: #9AA099;
    text-decoration: none;
    font-size: 15px;
    margin-right: 25px;
    margin-left: 25px;
}

